.about{
    background-color: #262424;
    width: 95%;
    height: 800px;
    margin: 15px auto 15px auto;
    padding: 15px;
    color: white;
    border-radius: 8px;
}

.about h2{
    font-size: 30px;
    font-family: var(--oswald);
}

.about h3{
    font-family: var(--oswald);
    font-weight: bold;
}

.origin{
    padding-bottom: 30px;
    padding-top: 30px;
}

.about p{
    font-family: var(--oswald);
}

.about img{
    width: 160px;
}

.daisukeContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
   
}

