.footer{
    background-color: #000000;
    color: #ffffff;
    height: 400px;
    width: 100%;
    
}

.formDiv{
    padding-left: 5%;
    padding-top: 3%;
}

.formDiv h2{
    font-size: 25px;
    font-family: var(--oswald);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}