.main{
    width: 100%;
    background-color: red;
}

/* slider */
.slider-container{
    position: relative;
    max-height: 80%;
    
}

.slide{
    display: none;
    animation: fade 3s;
}

@keyframes fade{
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.slide img{
    width: 100%;
    max-height: 90vh;
}

.text{
    position: absolute;
    bottom: 4%;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 15px 15px 0;
    transition: all 1s;
}

.next{
    right: 0;
    user-select: none;
    border-radius: 15px 0 0 15px;
}

.prev{
    left: 0;
    user-select: none;
    
}

.prev:hover,.next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.dots{
    padding-top: 16px;
    text-align: center;
    user-select: none;
    position: absolute;
    bottom: 4%;
    width: 100%;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover{
    background-color: #262424;
}