/* tab styling */
/* Style the tab */
.tab {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 3px solid #262424;
    background-color: #262424;
    gap: 10px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: black;
    color: wheat;
    width: 100%;
    border: 2px solid #262424;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    height: 45px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button:active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tabcontent p{
    padding-bottom: 10px;
  }

  /* close span */
  .tabcontent span{
    margin-top: 20px;
    margin-left: 25px;
}

.how-to-container{
  background-color: #262424;
  width: 97%;
  margin: auto;
  border-radius: 5px;
}

.title{
  font-size: clamp(20px, 40px, 78px);
  color: white;
  padding: 10px;
}

.how-to-text{
  max-width: 35%;
  text-align: center;
  margin: auto;
}

.how-to-text h2{
  font-size: 50px;
  font-family: var(--oswald);
}

.how-to-text p{
  font-size: 40px;
  font-family: var(--oswald);
}

.basic1, .basic2, .basic3, .tech, .tech2{
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap ;
}

.basic2, .tech2{
  background-color: #262424;
  color: white;
}

.basic1 video, .basic2 video, .basic3 video, .tech video, .tech2 video{
  width: 100%;
  max-width: 600px;
  padding-right: 80px;
  padding: 10px;
  height: auto;

}